.Button {
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem 0.75rem;
  line-height: 28px;
  min-height: 60px;
  border-radius: 0.25rem;
  background: linear-gradient(135deg, #48e08d 0%, #48cfe0 100%);
  border: none;
}
.Button:hover {
  background: #48cfe0;
}

/* .tooltip {
  font-family: "Roboto", sans-serif !important;
}

.tooltip-inner {
  background: #1c2630;
  font-weight: bold;
  width: 100%;
  padding: 0.6rem 0.75rem;
  line-height: 28px;
  border-radius: 100px;
  right: 20px;
  position: relative;
} */
.popover {
  background: #1c2630;
  font-weight: bold;
  width: 100%;
  padding: 0.6rem 0.75rem;
  line-height: 28px;
  border-radius: 100px;
  right: 20px;
  position: relative;
}
