/* .Select {
  color: red;
} */

.Select:disabled {
  color: blue;
  margin-bottom: 1rem;
}
.Selector {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.Input {
  min-height: 60px;
  cursor: pointer;
}
/* .Select {
  /* padding: 1rem 0.75rem; */
/* line-height: 28px;
border-radius: 0.25rem;
display: block; */
/* //}  */
/* .Select {
  height: 70px;
} */
